body {
    background-color: #e91e63;
}

#next {
    display: none;
}

#restart{
    display: none;
}

h1 {
    font-family: "Roboto", sans-serif;

}
.card-panel {
    text-align: center;
}

#error-panel {
    margin-top: 10%;
    display: none;
}

button.btn {
    margin-top: 10%;
    margin-bottom: 2%;
}

.row button{
    font-family: "Roboto", sans-serif;
}

/*#imp-button {
    margin-top: 50%;
    margin-left: 80%;
}*/

#quizbox {
    margin-top: 50%;
}

.selections-center {
    text-align: center;
}